<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <container name="mainContainer">
      <extension type="Interception" />

      <interception>

        <policy name="timedICommandPolicy">
          <matchingRule name="timedICommandMatchingRule" />
          <callHandler name="timedExecutionCallHandler"/>
        </policy>

      </interception>

      <register name="timedExecutionCallHandler" type="ICallHandler"
                mapTo="StreamCipher.Common.ThirdParty.Ioc.Interception.TimedExecutionCallHandler, StreamCipher.Common.ThirdParty"/>

      <register name ="timedICommandMatchingRule" type="IMatchingRule" mapTo ="TypeMatchingRule">
        <constructor>
          <param name="typeName" value="ICommand" />
        </constructor>
      </register>

      <register type="StreamCipher.Common.Interfaces.Command.ICommand, StreamCipher.Common.Interfaces"
              mapTo="StreamCipher.Common.Ioc.Tests.DummyCommand, StreamCipher.Common.Ioc.Tests">
        <interceptor type="InterfaceInterceptor" />
        <policyInjection />
      </register>

      <register type="StreamCipher.Common.Ioc.Tests.DependencyResolution.IDummyInterface, StreamCipher.Common.Ioc.Tests"
              mapTo="StreamCipher.Common.Ioc.Tests.DependencyResolution.DummyImplementation, StreamCipher.Common.Ioc.Tests">
        <lifetime type="singleton" />
      </register>

    </container>
  </unity>
</configuration>